[{*.java,*.kt,*.txt,*.md,*.sh,*.kts,*.json,*.yml,*.yaml,*.xml}]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[{*.kt,*.kts}]
indent_style = space
indent_size = 2
max_line_length = 120

[{*.java,*.xml,*.json,*.yml,*.yaml,*.md,*.txt,*.sh}]
indent_style = space
indent_size = 4
max_line_length = 120